<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>803678616995-v557n2gan1t133dikb75hg8dfq4irtrk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.803678616995-v557n2gan1t133dikb75hg8dfq4irtrk</string>
	<key>API_KEY</key>
	<string>AIzaSyDAgH-XprBRafal8s-wiewV8T9ZSafjtB0</string>
	<key>GCM_SENDER_ID</key>
	<string>803678616995</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kimjisub.careermap</string>
	<key>PROJECT_ID</key>
	<string>career-map-cba8f</string>
	<key>STORAGE_BUCKET</key>
	<string>career-map-cba8f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:803678616995:ios:bc05239efb2e534c17ee16</string>
</dict>
</plist>